<div class="container justify-content-center text-center">
    <div>このアプリは人数の制限がないイラスト伝言ゲームです。</div>
    <div style="height:300px;">伝言ゲーム自体を楽しむ事と、大人数による二転三転する展開を楽しむ事を主眼に置いています。</div>
    <div class="d-flex align-items-center justify-content-center" style="height:300px;">
        <%= link_to 'ログイン・お試しの場合はこちら', login_path , class: "btn btn-primary" %>
    </div>
</div>
