<div class="container justify-content-center">
    <div>このアプリは人数の制限がないイラスト伝言ゲームです。</div>
    <div>伝言ゲーム自体を楽しむ事と、大人数による二転三転する展開を楽しむ事を主眼に置いています。</div>
    
    <%= link_to 'プレイ・お試しの場合はこちら', '#', class: "nav-link" %>

</div>
