<nav class ="navbar navbar-dark bg-gradient">
    <button class="navbar-toggler justify-content-start" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container justify-content-center">
        <a class="navbar-brand m-0" href="/">Beaded Telephone</a>
    </div>
    <div class="justify-content-end">Bell</div>
</nav>