<h1>Challenges#index</h1>
<p>Find me in app/views/challenges/index.html.erb</p>
<%= button_to "Log out", destroy_user_session_path, method: :delete, class:"btn btn-danger" %>
<%= current_user.decorate.full_name %>